body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
	}


/* login section */

#login {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#login h2 {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
#login hr {
  border-color: #444;
  margin-bottom: 100px;
}	
#login .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#login .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#login input {
  height: 50px;
}
#login input[type="button"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#login input[type="button"]:hover {
  background: #f2af00;
  border-color: transparent;
}
#login input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#login input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}

@font-face{
   font-family: 'lucida-grande';
   src: url(fonts/lucida-grande.TTF) format('truetype');
}